<header>
    <a href="{{ path('home') }}" class="logo">MMA Blog</a>
    <nav>
        <a href="{{ path('home') }}">Accueil</a>
        <a href="{{ path('article') }}">Articles</a>
    </nav>

    <div class="header-cta">
        <a href="#" class="btn-secondary">Se connecter</a>
        <a href="#" class="btn-primary">S'inscrire</a>
    </div>
</header>
